  .container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
}
.exitButton {
  position: absolute;
  top: 2%;
  right: 2%;
  background-color: Transparent;
  border: none;
  z-index: 1;
  width: 100px;
  height: 100px;
}
