.imageSlider {
    position: relative;
    max-width: 226px;
    margin: 0 auto;

}
.imageSlider::after {
    content: '';
    display: block;
    width: 280%;
    height: 600px;
    outline: 5px solid black;
    position: absolute;
    top: 0;
    left: 0;
}

.imageWrapper {
    display: flex;
    position: absolute;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.button {
    position: relative;
}